
#header {
	text-align: center;
	position: absolute;
	bottom: 40em;
	left: 4em;
	color: teal;
	text-decoration: underline;
}

#containerDiv {
	width: 22em;
	height: 35em;
	margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 9em;
	padding: .5em;	
	text-align: center;
	background-color: teal;
	border-color: black;
	border-radius: 0.8em;

}

form {
	position: relative;
	top: 0.8em;
}

#answer {
	text-align: right;
	position: relative;
	top: .5em;
	pointer-events: none;
	width: 18.5em;
	height: 3em;
	font-size: 1em;
}

button {
	height: 5.5em;
	width: 5em;
	text-align: center;
	position: relative;
	top: 1.5em;
	cursor: pointer;
	font-size: 0.9em;
	color: white;
	margin-top: .4em;
	margin-bottom: .4em;
	margin-right: .2em;
	margin-left: .2em;
	padding: 0em;
	background-color: black;
}

button:active {
  background-color: teal;
  box-shadow: none;
  transform: translateY(.5em);
}

button:focus { 
	outline: 0;
}

#equals {
	width: 10.5em;
}